<router-outlet></router-outlet>
<!-- Loading spinner -->
<div *ngIf="loading" class="loading-container flex-content-center">
  <div class="d-flex row w-100">
      <div class="col-5">&nbsp;</div>
      <div class="col-2 align-self-center">
        <mat-progress-spinner
        color="primary"
        mode="indeterminate">
        </mat-progress-spinner>
      </div>
      <div class="col-5">&nbsp;</div>
    </div>
 </div>
 <!--
  <div class="d-flex row w-100 justify-content-center">
    <mat-progress-spinner
      color="primary"
      mode="indeterminate">
    </mat-progress-spinner>
  </div>
  -->
