<div class="container">
  <div class="row text-center">
    <div>
      <span class="h3">Heroes latinos !</span>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <span><button mat-raised-button color="primary" routerLink="/heroes/0">Crear</button></span>
    </div>
  </div>
  <div class="row">
    <mat-form-field appearance="standard">
      <mat-label>Filtrar</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Super" #input>
    </mat-form-field>
  </div>
  <div class="row">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!-- Id Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef width="10%"> Nº </th>
        <td mat-cell *matCellDef="let element" width="10%"> {{element.id}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef width="30%"> Nombre </th>
        <td mat-cell *matCellDef="let element" width="30%"> {{element.name}} </td>
      </ng-container>

      <!-- Strength Column -->
      <ng-container matColumnDef="strength">
        <th mat-header-cell *matHeaderCellDef width="20%"> Poder </th>
        <td mat-cell *matCellDef="let element" width="20%"> {{element.strength}} </td>
      </ng-container>

      <!-- Edit Column -->
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef> Editar </th>
        <td mat-cell *matCellDef="let element"><a href="javascript:void(0)"><span class="material-icons" [id]="element.id">edit</span></a></td>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns" (click)="onRowClicked(row, $event)"></mat-row>
    </table>
  </div>
  <mat-paginator #paginator [length]="totalHeroes"
              [pageSize]="pageSize"
              [pageSizeOptions]="[5, 10]">
    </mat-paginator>
</div>
